doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Lato|IBM+Plex+Mono|IBM+Plex+Sans" rel="stylesheet")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  body.blue-grey.darken-1
    block content
    script(src="/javascripts/bundle.js")
